.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    border-radius: 4px;
    padding: 9px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 16px;
    }
    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: var(--white);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    background-color: var(--white);
    &:hover {
        text-decoration: underline;
    }
}
.rounded {
    border-radius: 999px;
}
// Disable
// Button Size

.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    padding: 14px 16px;
    min-width: 140px;
}
